<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Menu gốc -->
        <menuitem
            id="menu_root"
            name="Quản Lý Dự Án"
            sequence="0"/>

        <!-- Quản lý dự án -->
        <menuitem name="Dự án quản lý"
            id="menu_du_an_quan_ly"
            parent="menu_root"
            sequence="1"
            action="action_du_an_quan_ly"/>
    </data>
</odoo>
