<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <!-- ACTION -->
    <record id="action_dashboard_quan_ly" model="ir.actions.act_window">
        <field name="name">Dashboard Tổng Quan</field>
        <field name="res_model">dashboard.quan.ly</field>
        <field name="view_mode">kanban</field>
        <field name="target">current</field>
    </record>

    <!-- MENU CHA -->
    <menuitem
        id="menu_dashboard_root"
        name="Dashboard"
        sequence="50"/>

    <!-- MENU CON -->
    <menuitem
        id="menu_dashboard_quan_ly"
        name="Tổng Quan"
        parent="menu_dashboard_root"
        action="action_dashboard_quan_ly"
        sequence="1"/>

</odoo>
